<div class="auth-menu">
  <div class="container text-right">
    {{#if authorized}}
      <a href="/profile" class="">Профиль</a> 
    {{else}}
      <a href="/authorization" class="">Вход</a> | <a href="/registration" class="">Регистрация</a>
    {{/if}}
  </div>
</div>
