{{#each page_comments}}
<div class="comment" id="comment-{{this.id}}">
<a name="comment-{{this.id}}"></a>
  <div class="comment-header">
    <div class="row">
      <div class="col-sm-7 text-left">
        <span class="">ID: </span><a href="#comment-{{this.id}}" onclick="commentReplayClick({{this.id}})">#{{this.id}}</a>
        &nbsp
        <span class="text-muted">Создан: </span><span class="post-dates text-muted" ref="{{this.created_at}}"></span>
      </div>
      <div class="col-sm-5 text-right">
        <span class="">Автор: </span><span class="">{{this.author_name}}</span>
      </div>
    </div>
  </div>

  <div class="comment-body">
  {{{this.body}}}
  </div>
</div>
{{/each}}
