<div class="active-form">
  <div id="form-commemt-form-alerts"></div>

  <input type="hidden" name="post_id" id="comment-post-id" value="{{page_body.id}}"/>
  
  <div class="row">
    <div class="col-sm-6">
    {{#if user}}
    <!-- if user authorized -->
      <div class="form-group row">
        <label for="comment-user-name" class="col-sm-2 col-form-label">Имя:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="user_name" id="comment-user-name" value="{{user.name}}" placeholder="Не обязательно" disabled/>
        </div>
      </div>
    {{else}}
    <!-- if user NOT authorized -->
      <div class="form-group row">
        <label for="comment-user-name" class="col-sm-2 col-form-label">Имя:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="user_name" id="comment-user-name" value="anonym" placeholder="Не обязательно"/>
        </div>
      </div>
    {{/if}}
    </div>
    
    <div class="col-sm-6">
      {{#if user}}
      <small class="form-text text-muted">Чтобы оставить анонимный комментарий, пожалуйста, <a href="/logout">разавторизуйтесь</a></small>
      {{else}}
      <small class="form-text text-muted">Ваш комментарий будет анонимным. Чтобы оставить не анонимный комментарий, пожалуйста, <a href="/registration">зарегистрируйтесь</a></small>
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      
      <div class="row">
        <div class="col-sm-6">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="javascript: void(0)" id="comment-md-editor-button">MD Редактор</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript: void(0)" id="comment-preview-button">Препросмотр</a>
            </li>
          </ul>
        </div>
        
        <div class="col-sm-6 text-right">
          <button class="btn btn-default" id="submit-comment-button">Создать комментарий</button>
        </div>
      </div>
      
      <div class="tab-content" id="tab-content">
        <div class="tab-pane fade show active" id="md-editor-tab" role="tabpanel" aria-labelledby="md-editor-tab">
          <textarea class="form-control" rows="5" id="comment-editor"></textarea>
        </div>
        <div class="tab-pane fade" id="preview-tab" role="tabpanel" aria-labelledby="preview-tab">
          <div id="comment-preview" class="text-edit-preview"></div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="active-form-awaiter d-none" id="comment-awaiter">
    <img class="active-form-big-img" src="/img/ajax-loader-big.gif"/>
  </div>

</div>

<script src="/js/showdown.min.js" async defer></script>
<script src="/js/comments.js" async defer></script>
