<div class="row">
  <div class="col-sm-3">
  {{#if page_meta.prev_page}}
    <a href="{{page_url}}?page={{page_meta.prev_page}}#comment_list" class="btn btn-default">← СТАРЫЕ</a>
  {{/if}}
  </div>

  <div class="col-sm-6 text-center">
    Всего: {{page_meta.totalCount}} комментариев на {{page_meta.totalPageCount}} страницах
  </div>
  
  <div class="col-sm-3 text-right">
  {{#if page_meta.next_page}}
    <a href="{{page_url}}?page={{page_meta.next_page}}#comment_list" class="btn btn-default">НОВЫЕ →</a>
  {{/if}}
  </div>
</div>
