<br/>
<footer>
  <div class="footer-delimeter"></div>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- тут будет какой-то футер -->
        </div>
      </div>
    </div>
  </div>
</footer>
