<div class="d-block d-lg-none mobile-menu">
  <div class="container">
    <nav class="navbar navbar-light justify-content-between">
      <a class="navbar-brand" href="/">TALKS.PUB</a>
      <div class="form-inline">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" onclick="mmenuBurgerClick(this)">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </div>
  <div class="container d-none" id="mobile-dd-menu">
    <div class="row">
      <div class="col-6">
        <nav class="nav flex-column">
          <a class="nav-link" href="/">Главная</a>
          <a class="nav-link" href="/community">Сообщества</a>
          <a class="nav-link" href="/post/o_proekte">О проекте</a>
          <a class="nav-link" href="/post/f.a.q.">F.A.Q.</a>
        </nav>
      </div>
      <div class="col-6">
        <nav class="nav flex-column">
        {{#if authorized}}
          <a class="nav-link" href="/profile/post/create">Создать пост</a>
          <a class="nav-link" href="/profile/community/create">Создать сообщество</a>
          <div class="mobile-divider"></div>
          <a class="nav-link" href="/profile">Профиль</a>
          <a class="nav-link" href="/logout">Выход</a>
        {{else}}
          <a class="nav-link" href="/registration">Регистрация</a>
          <a class="nav-link" href="/authorization">Вход</a>
        {{/if}}
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="d-block d-lg-none mobile-pagginator"><br/></div>

<header class="d-none d-lg-block">  
  <div class="container">
    <div class="row">
    
      <div class="col-sm-4">
        <h3><a class="main-logo" href="/">talks.pub</a></h3>
        <small><pre><strike>хуй</strike> у нас не матерятся</pre></small>
      </div>

      <div class="col-sm-8">
      
          <ul class="nav nav-pills justify-content-end header-menu">
            {{#if authorized}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="javascript: void()" onclick="tmDDClick(event)">Добавить</a>
              <div class="dropdown-menu" id="header-top-menu-dd">
                <a class="dropdown-item" href="/profile/post/create">Пост</a>
                <a class="dropdown-item" href="/profile/community/create">Сообщество</a>
              </div>
            </li>
            {{/if}}
            <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
            <li class="nav-item"><a class="nav-link" href="/community">Сообщества</a></li>
            <li class="nav-item"><a class="nav-link" href="/post/o_proekte">О проекте</a></li>
            <li class="nav-item"><a class="nav-link" href="/post/f.a.q.">F.A.Q.</a></li>
          </ul>
        {{#if authorized}}
        <p class="text-right"><a href="/profile" class="">Профиль</a> | <a href="/logout">Выход</a></p>
        {{else}}
        <p class="text-right"><a href="/authorization">Вход</a> | <a href="/registration">Регистрация</a></p>
        {{/if}}
      
      </div>
    
    </div>
  </div>
</header>
<script>

function tmDDOutsideClick() {
  const dd = document.getElementById('header-top-menu-dd');
  if( dd.classList.contains('show') ) {
    dd.classList.remove('show');
    document.removeEventListener('click', tmDDOutsideClick);
  }
}

function tmDDClick(event) {
  const dd = document.getElementById('header-top-menu-dd');
  
  if( dd.classList.contains('show') ) {
    dd.classList.remove('show');
    document.removeEventListener('click', tmDDOutsideClick);
  } else {
    event.stopPropagation();
    dd.classList.add('show');
    document.addEventListener('click', tmDDOutsideClick);
  }
}

function mmenuBurgerClick() {
  const dd = document.getElementById('mobile-dd-menu');
  if( dd.classList.contains('d-none') ) {
    dd.classList.remove('d-none');
  } else {
    dd.classList.add('d-none');
  }
}

</script>
