        <form action="/search" method="get">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск" aria-label="Поиск" aria-describedby="basic-addon2" id="search-form-input" name="query" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary search-button" type="submit" onclick="submitSearchForm(event);">&#128269;</button>
            </div>
          </div>
        </form>

        <script>
        function submitSearchForm(event) {
          let searchVal = document.getElementById('search-form-input').value;
          if( searchVal.length < 3 ) {
            event.preventDefault();
            alert('Поисковая фраза должна быть 3 и более символов.')
          }
        }
        </script>
