{{#each page_body}}

<div class="blog-post">
  <h4>Пост: <a href="/post/{{this.post.url}}" target="_blank">{{this.post.title}}</a></h2>
  <div class="row">
    <div class="col-sm-12">
      <p><span class="post-preview-date" ref="{{this.created_at}}"></span></p>
      <p>{{{this.body}}}</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <label>Author:</label> {{this.id}}
      <label>ID:</label> {{this.id}}
    </div>
    
    <div class="col-sm-6 text-right">
      {{#if this.admin_status}}
      <a class="btn btn-danger" href="javascript:void()" onclick="setCommentAdminStatus({{this.id}}, 0)">Заблокироать</a>
      {{else}}
      <button class="btn btn-secondary" href="javascript:void()" onclick="setCommentAdminStatus({{this.id}}, 1)">Разблокировать</button>
      {{/if}}
      <a class="btn btn-default" href="/comment/{{this.id}}" target="_blank">Просмотреть</a>
    </div>
  </div> 
  <hr/>
</div>

{{/each}}

{{> pager}}

<script>

// ----
setPreviewDates('post-preview-date');
async function setCommentAdminStatus(id, status) {
  await apiRequest(`/api/admin/comments/${id}`, 'PUT', { admin_status: status });
  document.location.reload();
}

</script>
