<div class="row">
  <div class="col-sm-6">
  
    <div id="auth-awaiting" class="d-none text-center">
      <p>Отправляем запрос, пожалуйста, подождите...</p>
      <img src="/img/ajax-loader-big.gif" />
    </div>
    
    <div id="auth-form">
      <input type="hidden" name="token" id="form-token" value="" />

      <div class="form-group">
        <label for="userName">Имя пользователя</label>
        <input type="text" class="form-control" id="form-name" placeholder="Ololoev_O" />
      </div>
      
      <div class="form-group">
        <label for="form-password">Пароль</label>
        <input type="password" class="form-control" id="form-password" placeholder="**********" />
      </div>

      <br/>
      
      <div class="row">
        <div class="col-sm-6">
          <a href="/registration" class="btn btn-light btn-block">Зарегистрироваться</a>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary btn-block" onclick="authorize()">Авторизоваться</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div id="alerts"></div>
  </div>
</div>

<script>
// function showAlert(text) {
//   let helper = document.getElementById('alerts');
//   helper.innerHTML = `<div class="alert alert-warning" role="alert">${text}</div>`;
// }

function verifyUser(user) {
  return true;
}

async function authorize() {
  let user = {
    name: document.getElementById('form-name').value,
    password: document.getElementById('form-password').value,
    token: '123', // document.getElementById('form-token').value TODO
  };

  if( !verifyUser(user) ) return;

  document.getElementById('auth-form').classList.add('d-none');
  document.getElementById('auth-awaiting').classList.remove('d-none');

  const request = new Request('/api/auth', {
    headers: {
      'Content-Type': 'application/json'
    },
    method: 'POST',
    body: JSON.stringify(user)
  });

  let response = await fetch(request);
  if( !response.ok ) {
    document.getElementById('auth-form').classList.remove('d-none');
    document.getElementById('auth-awaiting').classList.add('d-none');
    let result = await response.json();
    showAlert(response.statusText + '<br/>' + result.meta.error.description, 'alerts');
    return;
  }

  document.getElementById('auth-form').classList.add('d-none');
  document.getElementById('auth-awaiting').classList.add('d-none');
  document.getElementById('alerts').innerHTML = '';

  let result = await response.json();
  setCookie('access_token', result.data[ 0 ].token, new Date(result.data[ 0 ].expires_at));

  setTimeout(function() {
    window.location = '/profile';
  }, 500);
}
</script>
