{{#each page_body}}

<div class="blog-post">
  <h2><a href="/category/{{this.url}}">{{this.title}}</a></h2>
  <div class="row">
    <div class="col-sm-3">
    {{#if this.img_url}}
      <img class="img-preview" src="{{this.img_url}}"/>
    {{else}}
      <img class="img-preview" src="/img/default-200x150.jpg"/>
    {{/if}}
    </div>
    
    <div class="col-sm-9">
      <p><span class="post-preview-date" ref="{{this.updated_at}}"></span></p>
      <p>{{this.excerpt}}</p>
    </div>  
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <span class="btn btn-info" title="Комментариев">123</span>
      <span class="btn btn-info" title="Просмотров">333</span>
    </div>
    
    <div class="col-sm-6 text-right">
      <a class="btn btn-default" href="/category/{{this.url}}">Просмотреть категорию</a>
    </div>
  </div> 
  <hr/>
</div>

{{/each}}

{{> pager}}

<script>


// ----
setPreviewDates('post-preview-date');

</script>
