<div class="row post-meta">
  <div class="col-sm-7 text-left">
    <span class="">Создано: </span><span class="post-dates" ref="{{page_body.created_at}}"></span>
    &nbsp
    <span class="text-muted">Обновлёно: </span><span class="post-dates text-muted" ref="{{page_body.updated_at}}"></span>
  </div>
  
  <div class="col-sm-5 text-right">
    <!-- no author for category -->
  </div>
</div>

<br/>

<div class="html-view">
{{{page_body.body}}}
</div>

<script>
setPreviewDates('post-dates');
</script>
