<h2>Пост: <a href="/post/{{page_body.post.url}}">{{page_body.post.title}}</a></h2>
<div class="row post-meta">
  <div class="col-sm-7 text-left">
    <span class="">Создано: </span><span class="post-dates" ref="{{page_body.created_at}}"></span>
    &nbsp
    <span class="text-muted">Обновлено: </span><span class="post-dates text-muted" ref="{{page_body.updated_at}}"></span>
  </div>
  
  <div class="col-sm-5 text-right">
    <span class="">Автор: </span><span class="">{{page_body.author_name}}</span>
  </div>
</div>

<br/>

<div class="html-view">
{{{page_body.body}}}
</div>

<div class="row">
  <div class="col-sm-12">
    <p class="text-muted"><label>From IP address: </lable>{{page_body.src_ip_address}}</p>
  </div>
</div>

<script>
setPreviewDates('post-dates');
</script>
