<div class="" id="form-alerts"></div>

<div class="row post-meta">
  <div class="col-sm-7 text-left">
    <span class="">Создано: </span><span class="post-dates" ref="{{page_body.created_at}}"></span>
    &nbsp
    <span class="text-muted">Обновлёно: </span><span class="post-dates text-muted" ref="{{page_body.updated_at}}"></span>
  </div>
  
  <div class="col-sm-5 text-right">
    <span class="">Автор: </span><span class="">{{page_body.author.name}}</span>
  </div>
</div>

<br/>

<div class="html-view">
  <div class="page-excerpt" id="short_description">
    <div class="row">
      <div class="col-sm-4"><img src="{{page_image}}" /></div>  
      <div class="col-sm-8">{{page_body.excerpt}}</div>
    </div>
    <br/>
    <div class="text-right">
      <button class="btn btn-default" onclick="showFullDescriptionClick()"> &darr; Развернуть описание &darr;</button>
    </div>
  </div>
  
  <div class="page-body d-none" id="full_description">
    {{{page_body.body}}}
    <br/>
    <div class="text-right">
      <button class="btn btn-default" onclick="hideFullDescriptionClick()"> &uarr; Свернуть описание &uarr;</button>
    </div>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-6 text-left">
  {{#if isInCommunity }}
    <button class="btn btn-danger" onclick="communityLeave()" id="community_leave_button">Покинуть сообщество</button>
  {{else}}
    {{#if authorized }}
      <button class="btn btn-primary" onclick="communityEnter()" id="community_enter_button">Вступить в сообщество</button>
    {{/if}}
  {{/if}}
  </div>
  <div class="col-sm-6 text-right">
    <a href="{{page_url}}/info" class="btn btn-default">Информация о сообществе</a>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-12">
    
    <table class="table">
    {{#each page_options}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
      </tr>
    {{/each}}
    </table>
    
  </div>
</div>

<script>
var saveInProgress = false;

setPreviewDates('post-dates');

function showFullDescriptionClick() {
  document.getElementById('full_description').classList.remove('d-none');
  document.getElementById('short_description').classList.add('d-none');
}

function hideFullDescriptionClick() {
  document.getElementById('short_description').classList.remove('d-none');
  document.getElementById('full_description').classList.add('d-none');
}

async function communityEnter() {
  if( saveInProgress ) return;
  
  saveInProgress = true;
  document.getElementById('community_enter_button').disabled = true;
  
  await apiRequest('/api/communities/{{page_body.id}}/entering', 'POST', {});
  
  document.getElementById('community_enter_button').disabled = false;
  saveInProgress = false;
}

async function communityLeave() {
  if( saveInProgress ) return;
  
  if( !confirm('Вы уверены, что хотите покинуть это сообщество?') ) return;
  
  saveInProgress = true;
  document.getElementById('community_leave_button').disabled = true;
  
  await apiRequest('/api/communities/{{page_body.id}}/entering', 'DELETE');
  
  document.getElementById('community_leave_button').disabled = false;
  saveInProgress = false;
}

</script>
