<div class="row post-meta">
  <div class="col-sm-7 text-left">
    <span class="">Опубликован: </span><span class="post-dates" ref="{{page_body.published_at}}"></span>
    &nbsp
    <span class="text-muted">Обновлён: </span><span class="post-dates text-muted" ref="{{page_body.updated_at}}"></span>
  </div>
  
  <div class="col-sm-5 text-right">
    <span class="">Автор: </span><span class="">{{page_body.author.name}}</span>
  </div>
</div>

<br/>

<div class="html-view">
{{{page_body.body}}}
</div>

<hr/>

<div class="row">
  <div class="col-sm-12">
  {{#if page_body.community}}
    <span>Сообщество: </span><a href="/community/{{page_body.community.url}}" title="{{page_body.community.excerpt}}">{{page_body.community.title}}</a>
  {{/if}}
  </div>
</div>

<hr/>

<a name="comment_list"></a>
<div class="row">
  <div class="col-sm-6">
    <h4>Комментариев({{page_meta.totalCount}})</h4>
  </div>
  <div class="col-sm-6 text-right">
    <a href="#comment_form">Написать комментарий</a>
  </div>
</div>

<hr/>

<!-- comment list -->
{{> commentList}}
<!-- comment list -->
{{> commentsPpager}}


<hr/>
<a name="comment_form"></a>

{{> commentForm}}

<script>
setPreviewDates('post-dates');
</script>
