<div class="" id="form-alerts"></div>

<div class="row">
  <!-- left col -->
  <div class="col-sm-6">
  
    <div class="form-group">
      <label>Имя</label>
      <input id="name" type="text" class="form-control" disabled="true" value=""/>
      <small class="form-text text-muted">Имя нельзя изменить</small>
    </div>
    
    <div class="form-group">
      <label>Электронная почта</label>
      <input id="email" type="text" class="form-control" onkeyup="emailChanged(this)" value=""/>
      <small class="form-text text-muted">Почта нужна для востановления аккаунта.</small>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <button id="email-confirmation" class="btn btn-block btn-primary" disabled="true">Подтвердить</button>
      </div>
      <div class="col-sm-6">
        <button id="email-change" class="btn btn-block btn-primary" disabled="true" onclick="saveEmail()">Изменить</button>
      </div>
    </div>
    
    <br/>
    <hr/>
    <br/>
    
    <h4>Изменение пароля</h4>
    
    <div class="form-group">
      <label>Текущий пароль</label>
      <input id="current-password" type="password" class="form-control" onkeyup="passwordFormChanged()" value=""/>
    </div>
    <div class="form-group">
      <label>Новый пароль</label>
      <input id="new-password" type="password" class="form-control" onkeyup="passwordFormChanged()" value=""/>
    </div>
    <div class="form-group">
      <label>Подтверждение</label>
      <input id="confirmation" type="password" class="form-control" onkeyup="passwordFormChanged()" value=""/>
    </div>
    
    <button id="password-change" class="btn btn-block btn-primary" disabled="true" onclick="savePassword()">Изменить пароль</button>
    
  </div>
  <!-- Right col -->
  <div class="col-sm-6">
    <div class="form-group">
      <label>Немного информации о себе</label>
      <textarea id="self-description" class="form-control" rows=4 onkeyup="descriptionChanged(this)"></textarea>
      <small class="form-text text-muted">Любая дополнительная информация о себе, напрмиер как Вам написать в личку.</small>
    </div>
    <button id="description-change" class="btn btn-block btn-primary" disabled="true" onclick="saveSelfDescription()">Сохранить</button>
    
    <br/>
    <hr/>
    <br/>
    
  </div>
</div>

<script>

let account = {};
let saveInProgress = false;
let passwordMinLength = 3;

function passwordFormChanged() {
  let current_password = document.getElementById('current-password').value;
  let new_password = document.getElementById('new-password').value;
  let confirmation = document.getElementById('confirmation').value;
  
  if( current_password && 
      (current_password.length >= passwordMinLength) &&
      new_password && 
      (new_password.length >= passwordMinLength) && 
      confirmation &&
      ( confirmation == new_password )
    ) {
      document.getElementById('password-change').disabled = false;
    } else {
      document.getElementById('password-change').disabled = true;
    }
}

function emailChanged(self) {
  if( (self.value != account.email) && ( self.value != '' ) && !saveInProgress )
    document.getElementById('email-change').disabled = false;
  else
    document.getElementById('email-change').disabled = true;
}

function descriptionChanged(self) {
  if( (self.value != account.user_self_description) && ( self.value != '' ) && !saveInProgress )
    document.getElementById('description-change').disabled = false;
  else
    document.getElementById('description-change').disabled = true;
}

function assignValues(pageData) {
  document.getElementById('current-password').value = '';
  document.getElementById('new-password').value = '';
  document.getElementById('confirmation').value = '';
  document.getElementById('name').value = pageData.name;
  document.getElementById('email').value = pageData.email;
  document.getElementById('self-description').value = pageData.user_self_description;
  document.getElementById('email-change').disabled = true;
  document.getElementById('description-change').disabled = true;
}

async function savePassword() {  
  let current_password = document.getElementById('current-password').value;
  let new_password = document.getElementById('new-password').value;
  let confirmation = document.getElementById('confirmation').value;
  
  if( !current_password || (current_password.length < passwordMinLength) ) {
    return showAlert('Неправильный текущий пароль', 'form-alerts');
  }
  
  if( !new_password || (new_password.length < passwordMinLength) ) {
    return showAlert('Неправильный новый пароль', 'form-alerts');
  }
  
  if( !confirmation || (confirmation != new_password) ) {
    return showAlert('Новый пароль и подтверждение не совпадают', 'form-alerts');
  }
  
  if( saveInProgress ) return;

  saveInProgress = true;
  document.getElementById('password-change').disabled = true;
  
  let payload = {
    current_password,
    new_password,
    confirmation
  };
  
  let result = await apiRequest('/api/account/password', 'PUT', payload);
  if( result ) {
    account = result[ 0 ];
    assignValues(account);
  } else {
    // TODO
  }
  
  saveInProgress = false;
}

async function saveSelfDescription() {
  if( saveInProgress ) return;

  saveInProgress = true;
  document.getElementById('description-change').disabled = true;
  
  let payload = {
    user_self_description: document.getElementById('self-description').value
  };
  
  let result = await apiRequest('/api/account', 'PUT', payload);
  if( result ) {
    account = result[ 0 ];
    assignValues(account);
  } else {
    // TODO
  }

  saveInProgress = false;
}

async function saveEmail() {
  if( saveInProgress ) return;

  saveInProgress = true;
  document.getElementById('email-change').disabled = true;
  
  let payload = {
    email: document.getElementById('email').value
  };
  
  let result = await apiRequest('/api/account', 'PUT', payload);
  if( result ) {
    account = result[ 0 ];
    assignValues(account);
  } else {
    // TODO
  }

  saveInProgress = false;
}

async function init() {

  let result = await apiRequest(`/api/account`);
  if( result ) {
    account = result[ 0 ];
    assignValues(account);
  } else {
    // TODO
  }
}

init();

</script>
