<div class="" id="form-alerts"></div>

<div class="create-post-form">

  <!-- 0 row -->
  <div class="row">
    <div class="col-sm-6">
      
    </div>
    
    <div class="col-sm-6 text-right">
      <br/>
      <button id="save-button" class="btn btn-primary" onclick="saveClick()">Применить изменения</button>
    </div>
  </div>

  <h3>Комментарий:</h3>
  <div class="row">
    <div class="col-sm-12">

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="javascript: void(0)" id="md-editor-button" onclick="editorTabClick()">MD Редактор</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript: void(0)" id="preview-button" onclick="previewTabClick()">Препросмотр</a>
        </li>
      </ul>
      
      <div class="tab-content" id="tab-content">
        <div class="tab-pane fade show active" id="md-editor-tab" role="tabpanel" aria-labelledby="md-editor-tab">
          <textarea class="form-control" rows="5" id="comment-editor">md-editor-tab</textarea>
        </div>
        <div class="tab-pane fade" id="preview-tab" role="tabpanel" aria-labelledby="preview-tab">
          <div id="comment-preview">preview-tab</div>
        </div>
      </div>
    
    </div>
  </div>

</div>

<script src="/js/showdown.min.js"></script>
<script>
var saveInProgress = false;
var commentData;
var commentId = '{{page_meta.commentId}}';

function editorTabClick() {
  document.getElementById('md-editor-button').classList.add('active');
  document.getElementById('md-editor-tab').classList.add('active');
  document.getElementById('md-editor-tab').classList.add('show');
  
  document.getElementById('preview-button').classList.remove('active');
  document.getElementById('preview-tab').classList.remove('active');
  document.getElementById('preview-tab').classList.remove('show');
}

function previewTabClick() {
  document.getElementById('preview-button').classList.add('active');
  document.getElementById('preview-tab').classList.add('active');
  document.getElementById('preview-tab').classList.add('show');
  
  document.getElementById('md-editor-button').classList.remove('active');
  document.getElementById('md-editor-tab').classList.remove('active');
  document.getElementById('md-editor-tab').classList.remove('show');
  
  let converter = new showdown.Converter();
  let prv = document.getElementById('comment-preview');
  let srcText = document.getElementById('comment-editor').value;
  
  prv.innerHTML = replaceHeaders( converter.makeHtml(srcText) );
}

async function saveClick() {
  if( saveInProgress ) return;

  saveInProgress = true;
  document.getElementById('save-button').classList.add('disabled');

  let comment = {
    src_body: document.getElementById('comment-editor').value
  };
  
  await apiRequest('/api/comments/{{page_meta.commentId}}', 'PUT', comment);
  //location.href = `/profile/comment/${response[ 0 ].id}`;
  
  document.getElementById('save-button').classList.remove('disabled');
  
  saveInProgress = false;
}

function assignValues(pageData) {
//   document.getElementById('comment-title').value = pageData.title;
   document.getElementById('comment-editor').value = pageData.src_body;
}

async function init() {
  if( commentId ) {
    let commentList = await apiRequest(`/api/comments/${commentId}`);
    if( commentList ) {
      commentData = commentList[ 0 ];      
      assignValues(commentData);
    }
  } else {
    // TODO
  }
}

init();

</script>
