<div class="" id="form-alerts"></div>

<div class="row create-post-form">
  <!-- left part -->
  <div class="col-sm-9">
    <!-- post-title -->
    <div class="form-group">
      <label>Название публикации</label>
      <input type="text" class="form-control" id="post-title" placeholder="Мой новый пост" value="" />
      <small class="form-text text-muted"><a href="#" id="post-url" target="_blank"></a></small>
    </div>
    
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="javascript: void(0)" id="md-editor-button" onclick="editorTabClick()">MD Редактор</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript: void(0)" id="preview-button" onclick="previewTabClick()">Препросмотр</a>
      </li>
    </ul>
    
    <div class="tab-content" id="tab-content">
      <div class="tab-pane fade show active" id="md-editor-tab" role="tabpanel" aria-labelledby="md-editor-tab">
        <textarea class="form-control" rows="20" id="post-editor"></textarea>
      </div>
      <div class="tab-pane fade" id="preview-tab" role="tabpanel" aria-labelledby="preview-tab">
        <div id="post-preview" class="text-edit-preview"></div>
      </div>
    </div>

    <div class="form-group">
      <label>Превью публикации</label>
      <textarea class="form-control" id="post-excerpt"></textarea>
      <small lass="form-text text-muted">Первый абзац, или краткое описание поста. Только чистый текст, без тегов и картинок.</small>
    </div>
    
    <div class="form-group">
      <label>Url картинки-превью</label>
      <input type="text" class="form-control" id="post-img-preview" placeholder="https://ololoev.com/image.jpg" value="" />
      <small lass="form-text text-muted">размер картинки 400х300 максимум</small>
    </div>
  
  </div>
  <!-- right part -->
  <div class="col-sm-3">
    <button id="save-button" class="btn btn-primary btn-block" onclick="saveClick(true)">Сохранить</button>
    <br/>
    
    <div class="form-group">
      <label>Статус</label>
      <select class="form-control" id="post-status" placeholder="Статус">
        <option value="0">Не опубликовано</option>
        <option value="1">Опубликовано</option>
      </select>
    </div>
      
    <div class="form-group">
      <label>Сообщество</label>
      <select class="form-control" id="post-community" placeholder="Сообщество">
        <option value="">Без сообщества</option>
      </select>
      <small lass="form-text text-muted">Можно выбрать только 1 сообщество</small>
    </div>
<!-- Временно отключено
    <div class="form-group">
      <label>Категории</label>
      <select class="form-control" id="post-category" placeholder="Категории" onchange="categorySelect(this)">
        <option value=""></option>
      </select>
      <small lass="form-text text-muted">Можно выбрать несколько категорий</small>
    </div>

    <div class="form-group">
      <label>Выбранные категории:</label>
      <div class="" id="post-category-selected">Пусто</div>
    </div>
-->
  <div class="form-group">
    <label>Загрузить файл</label>
    <input class="" type="file" id="upload_files" accept="image/png, image/jpeg, image/gif" multiple />
  </div>
  
  <div class="form-group">
    <label>Очередь загрузки</label>
    <div id="upload_q"></div>
  </div>
  
  <div class="form-group">
    <label>Прикреплённые файлы</label>
    <div id="attached_files" class="image-select-area"></div>
  </div>

  </div>
</div>

<!-- scripts -->
<script>
var saveInProgress = false;
var postData;
var postId = '{{page_meta.postId}}';
var selectedCategories = [];
var userFiles;
</script>
<script src="/js/showdown.min.js"></script>
<script src="/js/user_files.js"></script>
<script src="/js/profile/post-edit.js"></script>
