    <h2>Настройки персональных данных</h2>
    <form>
        <div class="form-group">
            <label for="inputPassword1">Старый пароль</label>
            <input type="password" class="form-control" id="form-password" placeholder="Больше 5 символов" onfocus="inputFocus('password-helper1')" />
          </div>
            <div class="form-group">
                <label for="inputPassword1">Новый пароль</label>
                <input type="password" class="form-control" id="form-password" placeholder="Больше 5 символов" onfocus="inputFocus('password-helper2')" />
              </div>
              <div class="form-group">
                <label for="inputPassword2">Подтверждение</label>
                <input type="password" class="form-control" id="form-confirmation" placeholder="Больше 5 символов" onfocus="inputFocus('password-helper3')" />
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-block" onclick="register()">Применить</button>
              </div>
    </form>
    <p class="d-none" id="password-helper">Пожалуйста, используйте сильный пароль, 5 символов и больше.</p>
    <p class="d-none" id="password-helper2">Пароль и подтверждение должны совпадать.</p>

    <script>
function inputFocus(id) {
  let helper = document.getElementById('helper');
  helper.innerHTML = document.getElementById(id).innerHTML;
}

function showAlert(text) {
  let helper = document.getElementById('alerts');
  helper.innerHTML = `<div class="alert alert-warning" role="alert">${text}</div>`;
}
function verifyUser(user) {

  if( user.password.length < 5 ) {
    showAlert('Пароль должен быть 5 символов и больше');
    return false;
  }
  
  if( user.password !== user.confirmation ) {
    showAlert('Пароль и подтверждение не совпадают');
    return false;
  }
 
  return true;
}

async function register() {    
  let user = {
    password: document.getElementById('form-password').value,
    confirmation: document.getElementById('form-confirmation').value,
    token: '123', // document.getElementById('form-token').value TODO
  };
  
  if( !verifyUser(user) ) return;
  
  document.getElementById('register-form').classList.add('d-none');
  document.getElementById('register-awaiting').classList.remove('d-none');
  
  const request = new Request('/api/registration', {
    headers: {
      'Content-Type': 'application/json'
    },
    method: 'POST',
    body: JSON.stringify(user)
  });
  
  let response = await fetch(request);
  if( !response.ok ) {
    document.getElementById('register-form').classList.remove('d-none');
    document.getElementById('register-awaiting').classList.add('d-none');
    let result = await response.json()
    showAlert(response.statusText + '<br/>' + result.meta.error.description);
    return;
  }
  
  document.getElementById('register-form').classList.add('d-none');
  document.getElementById('register-awaiting').classList.add('d-none');
  document.getElementById('alerts').innerHTML = '';
  document.getElementById('helper').innerHTML = '';
  document.getElementById('form-successful').classList.remove('d-none');
  
  setTimeout(function() {
    window.location = '/authorization';
  }, 5000);
}
    </script>