<div class="" id="form-alerts"></div>

<div class="create-post-form">
<!-- 0 row -->
<div class="row">
  <div class="col-sm-6">
    
    <div class="form-group">
      <label>Тип сообщества(изменить будет нельзя)</label>
      <select class="form-control" id="community-type" placeholder="Тип сообщества">
        <option value="1">Автократия</option>
        <option value="2">Демократия</option>
        <option value="3">Меритократия</option>
      </select>
    </div>
    
  </div>
  
  <div class="col-sm-6 text-right">
    <br/>
    <button id="save-button" class="btn btn-primary" onclick="saveClick()">Применить изменения</button>
  </div>
</div>

<!-- 1st row -->
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label>Название сообщества</label>
      <input type="text" class="form-control" id="community-title" placeholder="Моё новое сообщество" />
      <small class="form-text text-muted"><a href="#" id="community-url" target="_blank">Тут будет урл сообщества(зависит от названия)</a></small>
    </div>
    
  </div>
</div>

<!-- 2nd row -->
<!--  Post editor    -->
<h3>Подробное описание сообщества и его правил</h3>
<div class="row">
  <div class="col-sm-12">

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="javascript: void(0)" id="md-editor-button" onclick="editorTabClick()">MD Редактор</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript: void(0)" id="preview-button" onclick="previewTabClick()">Препросмотр</a>
      </li>
    </ul>
    
    <div class="tab-content" id="tab-content">
      <div class="tab-pane fade show active" id="md-editor-tab" role="tabpanel" aria-labelledby="md-editor-tab">
        <textarea class="form-control" rows="20" id="community-editor">md-editor-tab</textarea>
      </div>
      <div class="tab-pane fade" id="preview-tab" role="tabpanel" aria-labelledby="preview-tab">
        <div id="community-preview">preview-tab</div>
      </div>
    </div>
  
  </div>
</div>


<!-- 3d row -->
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label>Краткое описание сообщества</label>
      <textarea class="form-control" id="community-excerpt"></textarea>
      <small lass="form-text text-muted">Первый абзац, или краткое описание поста. Только чистый текст, без тегов и картинок.</small>
    </div>
    <div class="form-group">
      <label>Url картинки-превью</label>
      <input type="text" class="form-control" id="community-img-preview" placeholder="https://ololoev.com/image.jpg" />
      <small lass="form-text text-muted">размер картинки 400х300 максимум</small>
    </div>
  </div>
</div>

</div>

<!-- scripts -->
<script src="/js/showdown.min.js"></script>
<script>
var saveInProgress = false;
var communityData;
var communityId = '{{page_meta.communityId}}';

function editorTabClick() {
  document.getElementById('md-editor-button').classList.add('active');
  document.getElementById('md-editor-tab').classList.add('active');
  document.getElementById('md-editor-tab').classList.add('show');
  
  document.getElementById('preview-button').classList.remove('active');
  document.getElementById('preview-tab').classList.remove('active');
  document.getElementById('preview-tab').classList.remove('show');
}

function previewTabClick() {
  document.getElementById('preview-button').classList.add('active');
  document.getElementById('preview-tab').classList.add('active');
  document.getElementById('preview-tab').classList.add('show');
  
  document.getElementById('md-editor-button').classList.remove('active');
  document.getElementById('md-editor-tab').classList.remove('active');
  document.getElementById('md-editor-tab').classList.remove('show');
  
  let converter = new showdown.Converter();
  let prv = document.getElementById('community-preview');
  let srcText = document.getElementById('community-editor').value;
  
  prv.innerHTML = replaceHeaders( converter.makeHtml(srcText) );
}

async function saveClick() {
  if( saveInProgress ) return;

  saveInProgress = true;
  document.getElementById('save-button').classList.add('disabled');

  let community = {
    title: document.getElementById('community-title').value,
    image_url: document.getElementById('community-img-preview').value,
    excerpt: document.getElementById('community-excerpt').value,
    src_body: document.getElementById('community-editor').value,
  };
  
  if( communityId ) {
    await apiRequest('/api/communities/{{page_meta.communityId}}', 'PUT', community);
  } else {
    community.type = parseInt(document.getElementById('community-type').value);
    let response = await apiRequest('/api/communities', 'POST', community);
    location.href = `/profile/community/${response[ 0 ].id}`;
    return;
  }
  
  document.getElementById('save-button').classList.remove('disabled');
  
  saveInProgress = false;
}

function assignValues(pageData) {
  document.getElementById('community-img-preview').value = pageData.image_url;
  document.getElementById('community-excerpt').value = pageData.excerpt;
  document.getElementById('community-title').value = pageData.title;
  document.getElementById('community-editor').value = pageData.src_body;
  document.getElementById('community-type').value = pageData.type;
}

async function init() {
  if( communityId ) {
    let communityList = await apiRequest(`/api/communities/${communityId}`);
    if( communityList ) {
      communityData = communityList[ 0 ];      
      assignValues(communityData);
    }
  } else {
    // TODO
  }
}

init();

</script>
