{{#each page_body}}

<div class="blog-post">
  <h2><a href="/post/{{this.url}}">{{this.title}}</a></h2>
  <div class="row">
    <div class="col-sm-3">
    {{#if this.image_url}}
      <img class="img-preview" src="{{this.image_url}}"/>
    {{else}}
      <img class="img-preview" src="/img/default-200x150.jpg"/>
    {{/if}}
    </div>
    
    <div class="col-sm-9">
      <p><span class="post-preview-date" ref="{{this.updated_at}}"></span></p>
      <p>{{this.excerpt}}</p>
    </div>  
  </div>
  
  <div class="row">
    <div class="col-6">
      <span class="btn btn-info" title="Комментариев">???</span>
      <span class="btn btn-info" title="Просмотров">???</span>
    </div>
    
    <div class="col-6 text-right">
      <div class="d-block d-lg-none">
        <a class="btn btn-default" href="/profile/post/{{this.id}}" title="Изменить">&nbsp&#9874;&nbsp</a>
        <a class="btn btn-default" href="/post/{{this.url}}" title="Просмотреть">&nbsp&rarr;&nbsp</a>
      </div>
      <div class="d-none d-lg-block">
        <a class="btn btn-secondary" href="/profile/post/{{this.id}}">Изменить</a>
        <a class="btn btn-default" href="/post/{{this.url}}">Просмотреть</a>
      </div>
    </div>
  </div> 
  <hr/>
</div>

{{/each}}

{{> pager}}

<script>


// ----
setPreviewDates('post-preview-date');

</script>
