{{#each page_body}}

<div class="blog-post">
  <h4>Пост: <a href="/post/{{this.post.url}}" target="_blank">{{this.post.title}}</a></h2>
  <div class="row">
    <div class="col-sm-12">
      <p><span class="post-preview-date" ref="{{this.created_at}}"></span></p>
      <p>{{{this.body}}}</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
    </div>
    
    <div class="col-sm-6 text-right">
      {{#if this.editable}}
      <a class="btn btn-secondary" href="/profile/comment/{{this.id}}">Изменить</a>
      {{else}}
      <button class="btn btn-secondary" disabled=true>Изменить</button>
      {{/if}}
      <a class="btn btn-default" href="/comment/{{this.id}}" target="_blank">Просмотреть</a>
    </div>
  </div> 
  <hr/>
</div>

{{/each}}

{{> pager}}

<script>

// ----
setPreviewDates('post-preview-date');

</script>
