<div class="" id="form-alerts"></div>

<div class="row">
  <div class="col-sm-8">
  <!-- comments list -->
  
  <h3>Последние комментарии</h3>
  
  {{#each page_body.allComments}}
  
  <div class="blog-post">
    <h5>Пост: <a href="/post/{{this.post.url}}" target="_blank">{{this.post.title}}</a></h5>
    <div class="row">
      <div class="col-sm-12">
        <p><span class="post-preview-date" ref="{{this.created_at}}"></span></p>
        <p>{{{this.body}}}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <label>Автор: </label>{{this.author_name}}
      </div>
      
      <div class="col-sm-6 text-right">
        {{#if this.editable}}
        <a class="btn btn-secondary" href="/profile/comment/{{this.id}}">Изменить</a>
        {{else}}
        <button class="btn btn-secondary" disabled=true>Изменить</button>
        {{/if}}
        <a class="btn btn-default" href="/comment/{{this.id}}" target="_blank">Просмотреть</a>
      </div>
    </div> 
    <hr/>
  </div>
  
  {{/each}}
  
  {{> pager}}
  <!-- comments list -->
  </div>
  
  <div class="col-sm-4">
  
    <div class="profile-widget">
      <h4>Ваши публикации</h4>
      <table class="table">
        <tr>
          <th title="Всего Ваших постов">Всего</th>
          <th title="Комментариев к Вашим постам">Комментов</th>
          <th title="Всего просмотров Ваших постов">Просмотров</th>
        </tr>
        <tr>
          <td>{{page_body.postCount}}</td>
          <td>{{page_body.postCommentsCount}}</td>
          <td>??</td>
        </tr>
      </table>
      <div class="row">
        <div class="col-sm-6">
          <a href="/profile/post" class="btn btn-block btn-secondary">Просмотреть</a>
        </div>
        <div class="col-sm-6 text-right">
          <a href="/profile/post/create" class="btn btn-block btn-primary">Создать</a>
        </div>
      </div>
    </div>
    
    <br/>
    
    <div class="profile-widget">
      <h4>Ваши сообщества</h4>
      <table class="table">
        <tr>
          <th title="Всего Ваших сообществ">Всего</th>
          <th title="Постов в Ваших сообществах">Постов</th>
          <th title="Комментариев в Ваших сообществах">Комментов</th>
        </tr>
        <tr>
          <td>{{page_body.communityCount}}</td>
          <td>{{page_body.communityPostCount}}</td>
          <td>{{page_body.communityCommentsCount}}</td>
        </tr>
      </table>
      <div class="row">
        <div class="col-sm-6">
          <a href="/profile/community" class="btn btn-block btn-secondary">Просмотреть</a>
        </div>
        <div class="col-sm-6 text-right">
          <a href="/profile/community/create" class="btn btn-block btn-primary">Создать</a>
        </div>
      </div>
    </div>
  
    <br/>
  
    <div class="profile-widget">
      <h4>Ваш профиль</h4>
      <div class="row">
        <div class="col-sm-6">
          <a href="/profile/account" class="btn btn-block btn-secondary">Настройки</a>
        </div>
        <div class="col-sm-6 text-right">
          <a href="/profile/account/security" class="btn btn-block btn-warning">Безопастность</a>
        </div>
      </div>
    </div>
  
    <br/>

  </div>
</div>
