<div class="row">
  <div class="col-sm-6">
  
    <div id="register-awaiting" class="d-none text-center">
      <p>Отправляем запрос на регистрацию, пожалуйста, подождите...</p>
      <img src="/img/ajax-loader-big.gif" />
    </div>
    
    <div class="d-none" id="form-successful">
      <h3>Успешно</h3>
      <p>Регистрация прошла успешно, сейчас Вы будете переадресованы на страницу авторизации.</p>
      <p>Если авторедирект не прошел, пожалуйста, воспользуйтесь <a href="/authorization">этой ссылкой</a>.</p>
      <p class="text-center"><img src="/img/ajax-loader-big.gif" /></p>
    </div>
    
    <div id="register-form">
      <input type="hidden" name="token" id="form-token" value="" />

      <div class="form-group">
        <label for="userName">Имя пользователя</label>
        <input type="text" class="form-control" id="form-name" placeholder="Ololoev_O" onfocus="inputFocus('name-helper')" />
      </div>
      
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="form-email" placeholder="ololoev@ololoev.com" onfocus="inputFocus('email-helper')" />
      </div>
      
      <div class="form-group">
        <label for="inputPassword1">Пароль</label>
        <input type="password" class="form-control" id="form-password" placeholder="**********" onfocus="inputFocus('password-helper')" />
      </div>
      
      <div class="form-group">
        <label for="inputPassword2">Подтверждение</label>
        <input type="password" class="form-control" id="form-confirmation" placeholder="**********" onfocus="inputFocus('password-helper2')" />
      </div>
      
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="form-terms" onfocus="inputFocus('terms-helper')">
        <label class="form-check-label" for="exampleCheck1" checked="none" onclick="inputFocus('terms-helper')">Я буду вести себя прилично, обещаю.</label>
      </div>
      <br/>
      
      <div class="row">
        <div class="col-sm-6">
          <a href="/authorization" class="btn btn-light btn-block">Авторизоваться</a>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary btn-block" onclick="register()">Зарегистрироваться</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div id="alerts"></div>
    <div id="helper"></div>
  </div>
</div>

<p class="d-none" id="name-helper">Имя пользователя используется для авторизации и его нельзя будет изменить в будущем.</p>

<p class="d-none" id="email-helper">Почта не обязательна для регистрации, но требуется для востановления пароля и связи с администратором. Так же подтверждённая почта требуется для создания и администрирования сообществ.</p>

<p class="d-none" id="password-helper">Пожалуйста, используйте сильный пароль, 5 символов и больше.</p>

<p class="d-none" id="password-helper2">Пароль и подтверждение должны совпадать.</p>

<p class="d-none" id="terms-helper">Пользовательские соглашения никто не читает, по этому у нас его просто нет.</p>

<script>
function inputFocus(id) {
  let helper = document.getElementById('helper');
  helper.innerHTML = document.getElementById(id).innerHTML;
}

function showAlert(text) {
  let helper = document.getElementById('alerts');
  helper.innerHTML = `<div class="alert alert-warning" role="alert">${text}</div>`;
}

function verifyUser(user) {
  if( user.name.length === 0 ) {
    showAlert('Имя пользователя не должно быть пустым');
    return false;
  }
  
  if( user.password.length < 5 ) {
    showAlert('Пароль должен быть 5 символов и больше');
    return false;
  }
  
  if( user.password !== user.confirmation ) {
    showAlert('Пароль и подтверждение не совпадают');
    return false;
  }
  
  if( !user.terms ) {
    showAlert('Вы должны согласиться с условиями');
    return false;
  }
  
  return true;
}

async function register() {    
  let user = {
    name: document.getElementById('form-name').value,
    email: document.getElementById('form-email').value,
    password: document.getElementById('form-password').value,
    confirmation: document.getElementById('form-confirmation').value,
    terms: document.getElementById('form-terms').checked,
    token: '123', // document.getElementById('form-token').value TODO
  };
  
  if( !verifyUser(user) ) return;
  
  document.getElementById('register-form').classList.add('d-none');
  document.getElementById('register-awaiting').classList.remove('d-none');
  
  const request = new Request('/api/registration', {
    headers: {
      'Content-Type': 'application/json'
    },
    method: 'POST',
    body: JSON.stringify(user)
  });
  
  let response = await fetch(request);
  if( !response.ok ) {
    document.getElementById('register-form').classList.remove('d-none');
    document.getElementById('register-awaiting').classList.add('d-none');
    let result = await response.json()
    showAlert(response.statusText + '<br/>' + result.meta.error.description);
    return;
  }
  
  document.getElementById('register-form').classList.add('d-none');
  document.getElementById('register-awaiting').classList.add('d-none');
  document.getElementById('alerts').innerHTML = '';
  document.getElementById('helper').innerHTML = '';
  document.getElementById('form-successful').classList.remove('d-none');
  
  setTimeout(function() {
    window.location = '/authorization';
  }, 5000);
}
</script>
