html, body {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: underline;
}

a.btn {
  text-decoration: none;
}

a:hover {
  color: #000;
}

header {
  background: #eee;
  padding-top: 10px;
}

.main-logo {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-logo:hover {
  color: #000;
  text-decoration: none;
}

.header-menu {
  
}

.header-menu a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu a:hover {
  color: #000;
  background: #fff;
}

.header-menu .dropdown-menu a:hover {
  background: #eee;
}


header .search-button {
  background: #fff;
}

.mobile-menu {
  background: #eee;
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  left :0px;
}

.mobile-divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #bbb;
}

#mobile-dd-menu {
  border-top: 1px solid #bbb;
}

.mobile-pagginator {
  padding: 10px;
}

footer {
  background: #eee;
}

footer .footer-delimeter {
  background: #f5f5f5;
  padding: 10px;
}

footer .footer-main {
  padding: 10px;
}

.profile-widget {
  /*background: #eee;*/
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
}

/* bootstrap overrides */

.form-control, .btn, .nav-pills .nav-link, .card, .dropdown-menu {
  border-radius: 0px;
}

/* interactive content */

.text-edit-preview {
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
}

.icontent-container {
  position: relative;
  min-height: 100px;
}

.icontent-body {
  
}

.icontent-preloader {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

.btn-default {
    background-color: #f4f4f4;
    color: #000;
}

.img-preview {
    max-width: 100%;
    display: block;
    margin-bottom: 5px;
}

.selected-list-item {
  border-bottom: 1px dotted #aaa;
  overflow: hidden;
  position: relative;
}

.selected-list-item:hover {
  background: rgba(128, 128, 128, 0.5);
}

.selected-list-item .selected-list-delete-item {
  position: absolute;
  right: 0px;
  top: 0px;  
}

.active-form {
  position: relative;
}

.active-form-awaiter {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
  background: rgba(220, 220, 220, 0.5);
}

.active-form-big-img {
  position: absolute;
  top: 50%;
  margin-top: -33px;
}

.comment {
  background: #f4f4f4;
  padding: 5px;
  margin-bottom: 5px;
  position: static;
  z-index: 0;
}

.comment .comment-header {
  border-bottom: 2px dotted #ddd;
  margin-bottom: 5px;
}

.comment .comment-body {

}

.comment .comment-body .comment-replay-link {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.comment .comment-body pre {
  white-space: pre-wrap;
  background: #f9f9f9;
  padding: 5px;
}

.comment-replay-link .comment-relay-container {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #eee;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
  padding: 10px;
  cursor: auto;
  z-index: 1;
}

.comment .comment-body p {
  margin-bottom: 0;
}

.commemtLiveView {
  display: inline-block;
  position: relative;
}

.commemtLiveView > a {
  color: #008800;
}

.citate {
  color: #008800;
}

.subcomment-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  padding-left: 20px;
}

.subcomment-container > div {
  box-shadow: 1px 1px 3px #999;
}

.html-view img {
  max-width: 100%;
  display: inline-block;
}

.html-view pre {
  border: 1px dotted #666;
  padding: 5px;
  background: #f5f5f5;
}

.html-view .img-inner-preview {
  display: inline;
  margin: 5px;
}

.upload-file-q-item {
  position: relative;
  padding: 2px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,1);
  
}

.upload-file-q-item .upload-file-q-item-progress {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 100, 0.5);
  background-image: url('/img/ajax-loader_flat-small.gif');
  background-repeat: no-repeat;
  background-position: center; 
  border: 1px solid #eee;
}

.image-select-area {
  max-height: 1000px;
  overflow-y: visible;
}

.image-select-area .image-select-back {
  max-width: 90%;
  position: relative;
  cursor: pointer;
}

.image-select-area .image-select-back img {
  position: relative;
  z-index: 0;
  width: 100%;
}

.image-select-area .image-select-back .image-select-image-info {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.2s;
  background: rgba(0, 0, 0, 0.5);
  overflow: none;
}

.image-select-area .image-select-back .image-select-image-info ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
}

.image-select-area .image-select-back .image-select-image-delete {
  position: absolute;
  z-index: 3;
  top: 0px;
  right: 0px;
  padding: 3px 10px;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

.image-select-area .image-select-back .image-select-image-icon {
  position: absolute;
  z-index: 3;
  bottom: 0px;
  right: 0px;
  padding: 3px 5px;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

.image-select-area .image-select-back:hover .image-select-image-info {
  opacity: 1;
}

.image-select-area .image-select-back .image-select-image-progress {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.05);
  background-image: url('/img/ajax-loader-big.gif');
  background-repeat: no-repeat;
  background-position: center; 
}


