<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1">
<meta property="og:url"           content="{{page_url}}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{page_title}}" />
<meta property="og:description"   content="{{page_description}}" />
<meta property="og:image"         content="{{page_image}}" />
<meta property="og:updated_time"  content="{{page_create_date}}" />
<meta name="description" content="{{page_title}}">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
<script src="/js/cookies.js"></script>
<script src="/js/main.js"></script>
<script src="/js/api.js"></script>
<title>{{page_title}}</title>
</head>
<body>
  {{> header}}
  <br/>
  <div class="container">
    <div class="row">
    
      <div class="col-md-9">
        <h1>{{page_title}}</h1>
        <br/>
        {{{content}}}
      </div>
      
      <div class="col-md-3">
        <div class="d-block d-lg-none"><br/><hr/><br/></div>
        {{> sidebarSearch}}
        
        {{> sidebarCommunities}}
      
      </div>
    </div>
  </div>
  {{> footer}}
</body>
</html>
