<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1">
<meta property="og:url"           content="{{page_url}}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{page_title}}" />
<meta property="og:description"   content="{{page_description}}" />
<meta property="og:image"         content="{{page_image}}" />
<meta property="og:updated_time"  content="{{page_create_date}}" />
<meta name="description" content="{{page_title}}">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
<script src="/js/cookies.js"></script>
<script src="/js/main.js"></script>
<script src="/js/api.js"></script>
<title>{{page_title}}</title>
</head>
<body>
  {{> header}}
  {{#if isAdmin}}
  
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <label><strong>ADMIN:</strong></label>
        <a href="/admin/comment" class="btn btn-default">Comments</a>
        <a href="/admin/post" class="btn btn-default">Posts</a>
        <a href="/admin/communitie" class="btn btn-default">Communities</a>
        <a href="/admin/user" class="btn btn-default">Users</a>
      </div>
    </div>
  </div>
  {{/if}}
  <br/>
  <div class="container">
    <h1>{{page_title}}</h1>
    <hr/>
    {{{content}}}
    </div>
  </div>
  {{> footer}}
</body>
</html>
